@font-face {
  font-family: "opensans";
  src: url(fonts/opensans-variablefont.ttf);
}
* {
  margin: 0;
  box-sizing: border-box;
}
body {
    background-image: url('https://i.imgur.com/ginhAsE.gif');
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.286);
  background-color: #edebeb;
  font-family: "opensans", sans-serif;
  padding: 20px;
  margin: 0;
  cursor: url(https://i.imgur.com/gENXYip.gif), auto;
}

nav {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
  justify-content: center;
  padding: 10px 0;
}

.main {
  font-size: 30px;
  font-weight: 900;
  display: block;
  margin-top: 60px;
}

a {
  color: #242424;
  text-decoration: none;
}

a:hover {
  color: #cb2819;
}

.container {
  margin: 10px auto;
  padding: 30px;
  max-width: 1200px;
}

.underline {
border-bottom: 1px solid #77787a;
width: 100%;
display: block;
  padding: 10px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}
.column {
  flex: 0 0 calc(33.333% - 16px);
  max-width: calc(33.333% - 16px);
  box-sizing: border-box;
}

.box {
  width: 100%;
  position: relative;
}

.img {
 width: 100%;
  height: 300px; 
  object-fit: cover;
  display: block;
  border-radius: 20px;
  transition: 0.5s ease;
}

.box:hover .img {
  opacity: 0.1;
}

.txt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 0.5s ease;
  text-align: center;
  width: 400px;
  color: #ff3131;
  font-weight: bold;
}

.box:hover .txt {
  opacity: 1;
}

/* @media screen and (max-width: 768px) {
  .column {
    flex: 0 0 45%;
    max-width: 45%;
  }
}

@media screen and (max-width: 480px) {
  .column {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

 .modal {
  display: none;
  position: fixed;
  z-index: 999;
  padding-top: 60px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.8);
}

.modal-content {
  margin: auto;
  display: block;
  width: auto;    
  height: auto; 
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 0 20px #000;
  animation: zoom 0.3s ease;
}


@keyframes zoom {
  from {transform: scale(0.5);}
  to {transform: scale(1);}
}

.close {
  display: none;
}*/