@font-face {
    font-family: "opensans";
    src: url(fonts/opensans-variablefont.ttf);
}
:root {
    --clr-bg: #ffffff;
    --clr-fg: #24283b;
}
* {
    box-sizing: border-box;
}
html {
  align-items: center;
    overflow-y: scroll;
    scrollbar-color: #242424;
    scrollbar-width: thin;
}

body {
  align-items: center;
  margin: auto;
     background-image: url('https://i.imgur.com/ginhAsE.gif');
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.286);
    font-family: "opensans", sans-serif;
    line-height: 30px;
    max-width: 700px;
    padding: 20px;
         cursor: url(https://i.imgur.com/gENXYip.gif), auto;
}
header {
    display: flex;
    justify-content: space-between;
    padding: 20px 0 40px 0;
}
nav {
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
    justify-content: center;
  padding-top: 5px;
}
.main {
    font-size: 30px;
    font-weight: 900;
  display: block;
  margin-top: 60px;
}
a {
    color: #242424;
    text-decoration: none;
}
a:hover {
  color: #cb2819;
}
img {
  margin: 10px;
    border: 1px solid #3d3d3d;
    box-shadow: 5px 5px #3d3d3d;
    display: block;
    width: 88%;
}
hr {
    border: none;
    border-bottom: 1px solid #3d3d3d;
    width: 100%;
}
.container {
  margin: 10px auto;
  padding: 60px;
  max-width: 1200px;
  border: 1px solid #3d3d3d;
  box-shadow: 5px 5px #3d3d3d;
  background-color: #fff;
}
.container span {
    background-color: #3d3d3d;
    padding: 10px;
}
::selection {
    color: #4a4a4a;
}